bin/
build/
dist/
.DS_Store
.idea/
morphology.iml
/Lexicon_valerijs_15000.xml
/Lexicon_valerijs_5000.xml
/Lexicon_valerijs_5000.xml.bak
/Lexicon_valerijs_35000.xml.bak
/Lexicon_valerijs_25000.xml
/Lexicon_valerijs_15000.xml.bak
/Lexicon_valerijs_25000.xml.bak
/Lexicon_valerijs_35000.xml
/vaardi.txt
target/